body {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
}

nav {
  width: 100%;
  height: 70px;
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.navbar-style {
  background-color: rgba(0,0,0,0.075);
  border-color: #e7e7e7;
}

.navbar-nav li {
  color: #fff;
  display: inline;
  list-style-type: none;
  float: right;
  margin-right: 20px;
  letter-spacing: 2px;
}
.signin-link {
  text-decoration: none;
  color: #000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.signin-link:hover {
  -webkit-transform: scale(1.20);
  -moz-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
}

.register-link {
  text-decoration: none;
  color: #000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.register-link:hover {
  -webkit-transform: scale(1.20);
  -moz-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
}

.dropdown-menu {
  display: none;
}

.logout-link {
  display: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.logout-link:hover {
  -webkit-transform: scale(1.20);
  -moz-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
}

.registration-popup {
  display: none;
}

header {
  text-align: center;
  color: #fff;
  background: #18bc9c;
  padding-top: 70px;
  width: 100%;
  height: 500px;
  position: relative;
}

.intro-text {
  margin-top: 100px;
}

.intro-text p {
  margin: 0 20%;
}

.intro-text hr {
  margin: 0 20%;
}

.profiles {
  background: #C6C6C6;
  padding: 10px;
  text-align: center;
}

.cards {
  overflow: hidden;
}

.card {
  float: left;
  width: 33%;
  list-style-type: none;
}

.card-dashboard {
  float: left;
  width: 25%;
  list-style-type: none;
}

.card img {
  max-width: 100%;
}

.card-dashboard img {
  max-width: 100%;
}

.card article {
  background: #fff;
  margin: 10px;
  padding: 10px;
}

.card-dashboard article {
  background: #fff;
  margin: 10px;
  padding: 10px;
}

figcaption {
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

.borrow-request {
  display: block;
  background: #666;
  padding: 1px 4px;
  border-radius: 100px;
  font-size: 25px;
  margin: 0 5px 5px 0;
  color: #fff;
  text-decoration: none;
}

.tags {
  overflow: hidden;
  margin-bottom: 10px;
}

.tags li {
  float: left;
  list-style-type: none;
}

.tags li a {
  display: block;
  background: #666;
  padding: 1px 12px;
  border-radius: 100px;
  font-size: 15px;
  margin: 0 5px 5px 0;
  color: #fff;
  text-decoration: none;
}

.dashboard-post {
  text-align: center;
  width: 100%;
  height: 500px;
  z-index: 101;
  position: relative;
  float: left;
}

.dashboard-content {
  width: 100%;
  height: 600px;
  z-index: 100;
  float: left;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#user-dashboard {
/*display: none;*/
}

#map {
/*  display: none;
*/}
