body {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
}

nav {
  width: 100%;
  height: 70px;
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.navbar-style {
  background-color: rgba(0,0,0,0.075);
  border-color: #e7e7e7;
}

.navbar-nav li {
  color: #fff;
  display: inline;
  list-style-type: none;
  float: right;
  margin-right: 20px;
  letter-spacing: 2px;
}
.signin-link {
  text-decoration: none;
  color: #000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.signin-link:hover {
  -webkit-transform: scale(1.20);
  -moz-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
}

.register-link {
  text-decoration: none;
  color: #000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.register-link:hover {
  -webkit-transform: scale(1.20);
  -moz-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
}

.dropdown-menu {
  display: none;
}

.logout-link {
  display: none;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.logout-link:hover {
  -webkit-transform: scale(1.20);
  -moz-transform: scale(1.20);
  -ms-transform: scale(1.20);
  -o-transform: scale(1.20);
  transform: scale(1.20);
}

.registration-popup {
  display: none;
}

header {
  text-align: center;
  color: #fff;
  background: #18bc9c;
  padding-top: 70px;
  width: 100%;
  height: 500px;
  position: relative;
}

.intro-text {
  margin-top: 100px;
}

.intro-text p {
  margin: 0 20%;
}

.intro-text hr {
  margin: 0 20%;
}
